.fade-up {
  opacity: 0;
  animation: 1s ease-out 0s 1 fadeUp;
  animation-fill-mode: forwards;
}

.animate-stepped {
  &:nth-child(2) {
    animation-delay: 100ms;
  }
  &:nth-child(3) {
    animation-delay: 200ms;
  }
  &:nth-child(4) {
    animation-delay: 300ms;
  }
  &:nth-child(5) {
    animation-delay: 400ms;
  }
  &:nth-child(6) {
    animation-delay: 500ms;
  }
  &:nth-child(7) {
    animation-delay: 600ms;
  }
  &:nth-child(8) {
    animation-delay: 700ms;
  }
  &:nth-child(9) {
    animation-delay: 800ms;
  }

}

.fade-static {
  opacity: 0;
  animation: 1s ease-out 0s 1 fadeStatic;
  animation-fill-mode: forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeStatic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}