.close {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.close:before,
.close:after {
  content: "";
  width: 60%;
  height: 0.125rem;
  background-color: currentColor;
  position: absolute;
  top: 1.4375rem;
  left: 20%;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}