:root {
  --orange: #ff9729;
  --grey: #b8aba0;
  --orange-light: #ff9729;
  --grey-light: #f4f4f4;
}

.b-orange {
  background-color: var(--orange);
}

.c-orange {
  color: var(--orange);
}

.br-orange {
  border-color: var(--orange);
}

.b-orange-light {
  background-color: var(--orange-light);
}

.c-orange-light{
  color: var(--orange-light);
}

.br-orange-light {
  border-color: var(--orange-light);
}

.b-grey {
  background-color: var(--grey);
}

.c-grey {
  color: var(--grey);
}

.br-grey {
  border-color: var(--grey);
}

.b-grey-light {
  background-color: var(--grey-light);
}

.c-grey-light {
  color: var(--grey-light);
}

.br-grey-light {
  border-color: var(--grey-light);
}

.b-black {
  background-color: black;
}

.b-white {
  background-color: white;
}

.c-black {
  color: black;
}

.c-white {
  color: white;
}

.br-white {
  border-color: white;
}

.br-black {
  border-color: black;
}