.image-loc {
  @apply relative;
}

.image-loc:hover,
.image-loc:focus {
  .image-loc__icon {
    opacity: 1;
    @apply
      bottom-0
      right-0
    ;
  }
}


.image-loc__icon {
  @apply
    opacity-0
    absolute
    px-5
    py-4
    -bottom-16
    -right-16
    transition-all
    duration-500
    ease-in-out
}