.meta {
  @apply
    text-xs
    uppercase
    mb-3
    tracking-wider
    font-bold
    font-sans
  ;
}

.meta-date {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .75rem;
    height: 1px;
    background-color: black;
    margin-left: -1rem;
    margin-top: 0.5rem;
  }
}