.nav-item {

  @apply
    transition-all
    duration-300
    ease-in-out
  ;

  &:hover,
  &:focus {
    @apply c-orange;
  }

  &.is-active {
    position: relative;

    &:after {
      @apply
        absolute
        right-0
        top-0
        leading-none
        rounded-full
        ml-2
        -mr-3
        w-1.5
        h-1.5
        b-black
      ;
      content: " ";
      margin-top: 7px;
    }
  }
}


.feature-nav-item {
  @apply
    text-4xl
    font-display
    relative
    transition-all
    duration-500
    ease-in-out
    leading-none
    tracking-wide
    border-b
    border-transparent
    mb-4
    c-black
    inline-flex
    items-start
    justify-start
    md:text-5xl
    md:mb-8
    lg:text-6xl
    lg:mb-10
  ;
    /*background-image: linear-gradient(0deg, transparent 14%, transparent 14%, transparent 15%, transparent 15%);*/
    
    &:hover,
    &:focus {
      /*background-image: linear-gradient(0deg, transparent 14%, #BF5700 14%, #BF5700 15%, transparent 15%);*/

      > span {
        @apply
          c-orange
          opacity-100
        ;
      }
    }
}

.feature-nav-item > span {
  @apply
    transition-all
    duration-500
    ease-in-out
    md:opacity-30
  ;
}

.feature-nav-item > span.text {

  &:after {
    content: "";
    @apply
      absolute
      left-0
      h-2
      w-0
      b-orange
      bottom-1.5
      transition-all
      duration-300
      ease-in-out
    ;
  }
  
  &:hover,
  &:focus {
    &:after {
      @apply w-full;
    }
  }
}

.peak-nav-item {

  h2 {
    @apply
      transition-all
      duration-500
      ease-in-out
      inline
    ;

    background-image: linear-gradient(0deg, transparent 14%, transparent 14%, transparent 17%, transparent 17%);

  }

  &:hover h2 ,
  &:focus h2 {
    @apply c-orange;
    background-image: linear-gradient(0deg, transparent 14%, #BF5700 14%, #BF5700 17%, transparent 17%);
  }

}