.nav-item {

  @apply
    transition-all
    duration-500
    ease-in-out
  ;

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
    background-size: 0 2px, 0 2px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;

  &:hover,
  &:focus {
    @apply c-orange;
        background-size: 0 2px, 100% 2px;
        background-position: 100% 100%, 0 100%;
  }

  &.is-active {
    position: relative;

    &:after {
      @apply
        absolute
        right-0
        top-0
        leading-none
        rounded-full
        ml-2
        -mr-3
        w-1.5
        h-1.5
        b-black
      ;
      content: " ";
      margin-top: 7px;
    }
  }
}


.feature-nav-item {
  @apply
    text-4xl
    font-display
    relative
    transition-all
    duration-500
    ease-in-out
    leading-none
    tracking-wide
    border-b
    border-transparent
    mb-4
    c-black
    inline-flex
    items-start
    justify-start
    md:text-5xl
    md:mb-8
    lg:text-6xl
    lg:mb-10
  ;
    
    &:hover,
    &:focus {

      > span {
        @apply
          c-orange
          opacity-100
        ;
      }

      > span.text {
        background-size: 0 2px, 100% 2px;
        background-position: 100% 100%, 0 100%;
      }
    }
}

.feature-nav-item > span {
  @apply
    transition-all
    duration-500
    ease-in-out
    md:opacity-46
  ;
}

.feature-nav-item > span.text {

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
    background-size: 0 2px, 0 2px;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;


}

.peak-nav-item {

  h2 {
    @apply
      transition-all
      duration-500
      ease-in-out
      inline
    ;

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(var(--orange), var(--orange));
    background-size: 0 2px, 0 2px;
    background-position: 0 85%, 0 85%;
    background-repeat: no-repeat;

  }

  &:hover h2 ,
  &:focus h2 {
    @apply c-orange;
    background-size: 0 2px, 100% 2px;
    background-position: 100% 85%, 0 85%;
  }

}

.collection-nav-item {

  h2 {
    @apply
      transition-all
      duration-500
      ease-in-out
      inline
    ;

    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#ffffff, #ffffff);
    background-size: 0 2px, 0 2px;
    background-position: 0 85%, 0 85%;
    background-repeat: no-repeat;

  }

  &:hover h2 ,
  &:focus h2 {
    @apply c-white;
    background-size: 0 2px, 100% 2px;
    background-position: 100% 85%, 0 85%;
  }

}