.nav-item {

  @apply
    transition-all
    duration-300
    ease-in-out
  ;

  &:hover,
  &:focus {
    color: #BF5700;
  }

  &.is-active {
    position: relative;

    &:after {
      @apply
        absolute
        right-0
        top-0
        leading-none
        rounded-full
        ml-2
        -mr-3
        w-1.5
        h-1.5
      ;
      background-color: #000;
      content: " ";
      margin-top: 7px;
    }
  }
}


.feature-nav-item {
  @apply
    text-4xl
    font-display
    relative
    inline-block
    transition-all
    delay-75
    duration-300
    ease-in-out
    leading-none
    tracking-wide
    border-b
    border-transparent
    mb-1
    md:text-5xl
    md:opacity-30
    md:mb-8
    md:flex
    md:items-start
    md:justify-start
    lg:text-6xl
    lg:mb-10
    hover:opacity-100
    focus:opacity-100
  ;

  &:hover,
  &:focus {
    color: #BF5700;
    @apply
      lg:text-7xl
    ;
  }
}