{% if include.ar %}
  {% capture opts %}&ar={{ include.ar }}&fit=crop{% endcapture %}
{% else %}
  {% capture opts %}{% endcapture %}
{% endif %}


<picture class="{{ include.block_classes }}">
  <source srcset="{{ site.image_base }}{{ include.url }}?w=2000{{opts}} 2000w,
    {{ site.image_base }}{{ include.url }}?w=1600&fm=webp{{opts}} 1600w,
    {{ site.image_base }}{{ include.url }}?w=1280&fm=webp{{opts}} 1280w,
    {{ site.image_base }}{{ include.url }}?w=1024&fm=webp{{opts}} 1024w,
    {{ site.image_base }}{{ include.url }}?w=768&fm=webp{{opts}} 768w,
    {{ site.image_base }}{{ include.url }}?w=480&fm=webp{{opts}} 480w,
    {{ site.image_base }}{{ include.url }}?w=300&fm=webp{{opts}} 300w" type="image/webp">
  <source srcset="{{ site.image_base }}{{ include.url }}?w=2000{{opts}} 2000w,
    {{ site.image_base }}{{ include.url }}?w=1600{{opts}} 1600w,
    {{ site.image_base }}{{ include.url }}?w=1280{{opts}} 1280w,
    {{ site.image_base }}{{ include.url }}?w=1024{{opts}} 1024w,
    {{ site.image_base }}{{ include.url }}?w=768{{opts}} 768w,
    {{ site.image_base }}{{ include.url }}?w=480{{opts}} 480w,
    {{ site.image_base }}{{ include.url }}?w=300{{opts}} 300w" type="image/jpeg"> 
  <img src="{{ site.image_base }}{{ include.url }}?w=300{{opts}}" alt="{{ include.alt }}" {% if include.hero != "true" %}loading="lazy"{% endif %} sizes="(max-width: 1600px) 100vw, 1600px" width="2000" height="2000" class="{{ include.classes }}">
</picture>