---
layout: default
---

<div class="pt-32 md:pt-88 pb-24 md:pb-40">

  <div class="w-full md:w-5/12 mx-auto relative mb-12 md:mb-20">


    <h1 class="w-8/12 md:w-10/12 absolute top-0 left-0 md:left-auto md:right-0 z-10 -mt-12 md:-mt-16 ml-8 md:ml-0 md:-mr-40 xl:-mt-30 xl:-mr-64 font-display text-3xl md:text-4xl xl:text-6xl leading-none tracking-wider fade-up">{{ page.long_title }}</h1>

    <div class="mb-6 md:mb-10 relative fade-up">
      <div class="w-full">
        {% include image.html url=page.hero.image alt=page.hero.alt %}
      </div>

      <p class="text-lg md:text-xl lg:text-2xl uppercase font-sans tracking-widest md:upright absolute -bottom-3 mb-0 md:bottom-24 right-0 md:right-auto md:left-0 mr-8 md:mr-0 md:-ml-4 lg:-ml-5 z-10 fade-static anim-delay-400">Biography &bull; MH</p>
    </div>
  </div>

  <div class="w-full px-8 md:px-0 md:w-5/12 mx-auto relative">
    <div class="mb-8 md:mb-12">
      <div class="overflow-hidden">
        <h2 class="meta text-slide-down anim-delay-400">Info</h2>
      </div>
      <div class="fade-down anim-delay-200">
        {{ content }}
      </div>
    </div>
  </div>

</div>