---
layout: default
isMap: true
---

{% assign locations = site.data.maps[page.slug] %}
{% assign images_group = site.data.images[page.slug] %}

<div id="map" class="w-screen md:ml-64 md:w-auto h-screen"></div>

<div class="absolute bottom-0 left-0 right-0 b-white p-8 md:p-12" id="mapContent">
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAV3uTC8stNqMKRlJhpZDo6c5YBha1VTY4&amp;libraries=&amp;v=weekly&amp;callback=initMap" defer></script>


<script>

  function initMap() {

    let bounds = new google.maps.LatLngBounds();
    let mapContainer = document.getElementById("map");
    let contentContainer = document.getElementById("mapContent");
    let locations = {{ locations | jsonify }};
    let imageGroups = {{ images_group | jsonify }};
    let allMarkers = [];
    let baseURL = "{{ site.image_base }}";

    const map = new google.maps.Map(mapContainer, {
      zoom: 8,
      center: new google.maps.LatLng({{ page.center }}),
      styles: {{ site.data.mapstyles | jsonify }},
      mapTypeControl: false,
      streetViewControl: false,
      fullscreenControl: false,
    });

    // for (let i = 0; i < imageGroups.length; i++) {
    //     for (let x = 0; x < imageGroups[i].images.length; x++) {
    //       let location = {
    //         title: imageGroups[i].images[x].title,
    //         alt: imageGroups[i].images[x].alt,
    //         description: imageGroups[i].images[x].description,
    //         lat: imageGroups[i].images[x].lat,
    //         lng: imageGroups[i].images[x].lng,
    //         category: imageGroups[i].images[x].category,
    //         image: imageGroups[i].images[x].url
    //       }

    //       locations.push(location);
    //     }
    // }

    for (let i = 0; i < locations.length; i++) {
      let title = locations[i].title;
      let description = locations[i].description;
      let lat = locations[i].lat;
      let lng = locations[i].lng;
      let category = locations[i].category;
      let images = [];

      for (let j = 0; j < imageGroups.length; j++) {
        for (let x = 0; x < imageGroups[j].images.length; x++) {
          if (imageGroups[j].images[x].location == locations[i].slug) {
              images.push({
                url: imageGroups[j].images[x].url,
                alt: imageGroups[j].images[x].alt
              });
          }
        }
      }

      console.log(title, images);

      if (typeof lat !== 'undefined' && typeof lng !== 'undefined') {

        let marker = new google.maps.Marker({
          position: new google.maps.LatLng(lat, lng),
          map: map,
          category: category,
          a: category,
          icon: {
            url: `/assets/images/icons/${category}_off.svg`,
            scaledSize: new google.maps.Size(32, 32)
          },
        });


        allMarkers.push(marker);
        
        bounds.extend(marker.position);

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
        
            let imagesHTML = "";

            // change all markers
            allMarkers.forEach((element) => {
              element.setIcon(`/assets/images/icons/${element.category}_off.svg`);
            });

            // change this marker
            marker.setIcon(`/assets/images/icons/${marker.category}_on.svg`);

            // change map center to current marker
            map.setCenter({
              lat : lat,
              lng : lng
            });

            // @TODO Create IMG element so that it preloads (maybe)
            for (let i = 0; i < images.length; i++) {
              imagesHTML = imagesHTML + `<picture class="">
                <img alt="${images[i].alt}" 
                  src="${baseURL}${images[i].url}?h=300"
                  class="" height="300">
              </picture>`
            }

            // update HTML
            contentContainer.innerHTML = `<h2>${title}</h2><div class="flex flex-wrap gap-4">${imagesHTML}</div>`;
          }
        })(marker, i));
      }

    }
    

    map.fitBounds(bounds);
  }

</script>